<div class="list-container">
    <nz-list *ngFor="let item of data" nzItemLayout="vertical" class="list">
      <nz-list-item class="list-item">
        <nz-list-item-meta class="list-item-meta">
            <nz-list-item-meta-title class="title">
              <a href="{{ item.href }}">{{ item.serviceName}}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description class="description">
              {{ item.serviceDetails }}
            </nz-list-item-meta-description>
            <nz-list-item-meta-description class="description">
              {{ item.companyName}}
            </nz-list-item-meta-description>
        </nz-list-item-meta>
        <div class="price">
          Price: {{ item.price }} $
        </div>
        <div class="container" style="margin-top: 30px;"> 
          <button class="delete-button" routerLink="/login">Login To Cart</button> 
        </div>
        <ul nz-list-item-actions class="actions">
          <li nz-list-item-action class="action">
            <span nz-icon nzType="star-o" class="icon"></span> 156
          </li>
          <li nz-list-item-action class="action">
            <span nz-icon nzType="star-o" class="icon"></span> 156
          </li>
          <li nz-list-item-action class="action">
            <span nz-icon nzType="star-o" class="icon"></span> 2
          </li>
        </ul>
        <nz-list-item-extra class="item-extra">
          <img width="272" alt="logo" [src]="uploudImg(item.image)" class="extra-image" />
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
  </div>
  