<nz-header *ngIf="!isClientLoggedIn && !isCompanyLoggedIn" class="main-header" nz-row nzType="flex" style="background-color: brown;">
  <div>
    <h2 style="color: white;padding-left: 10px;">
     Service Booking System
    </h2>
  </div>
  <div class="nav-links">
    <a nz-button nz-type="link" routerLink="/home" routerLinkActive="active">Home</a>
    <a nz-button nz-type="link" routerLink="/registerClient" routerLinkActive="active">Regester Client</a>
    <a nz-button nz-type="link" routerLink="/registerCompany" routerLinkActive="active">Regester Company</a>
    <a nz-button nz-type="link" routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</nz-header>
<nz-header class="main-header" *ngIf="isClientLoggedIn" nz-row nzType="flex" style="background-color: brown;">
  <div>
    <h2 style="color: white;padding-left: 10px;">
     Service Booking System
    </h2>
  </div>
  <div class="nav-links">
    <a nz-button nz-type="link" routerLink="/dashClient" routerLinkActive="active">Dashboard</a>
    <a nz-button nz-type="link" routerLink="/adds" routerLinkActive="active">adds</a>
    <a nz-button nz-type="link" (click)="logout()" routerLinkActive="active">Logout</a>
  </div>
</nz-header>
<nz-header class="main-header" *ngIf="isCompanyLoggedIn" nz-row nzType="flex" style="background-color: brown;">
  <div>
    <h2 style="color: white;padding-left: 10px;">
     Service Booking System
    </h2>
  </div>
  <div class="nav-links">
    <a nz-button nz-type="link" routerLink="/dashCompany" routerLinkActive="active">Dashboard</a>
    <a nz-button nz-type="link" routerLink="/createAdds" routerLinkActive="active">Create Add</a>
    <a nz-button nz-type="link" routerLink="/allCompanyAdds" routerLinkActive="active">All Company Adds</a>
    <a nz-button nz-type="link" (click)="logout()" routerLinkActive="active">Logout</a>
  </div>
</nz-header>
<router-outlet></router-outlet>
