.main-header {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .main-header h2 {
    color: white;
    margin: 0;
  }
  
  .nav-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  